[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/theme/pure"]
	path = zsh/theme/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "zsh/plugins/zgen"]
	path = zsh/plugins/zgen
	url = git@github.com:tarjoilija/zgen.git
